.imageContainer_container {
  width: 100%;
  display: flex;
  align-items: flex-start;

  padding-left: 20px;
  padding-top: 80px;
}

/* .image_container {
  width: 80%;
  height: auto;
  object-fit:contain;
  
  vertical-align: super;
  display: flex;
  align-items: flex-start;
} */
